<ion-header>
  <ion-toolbar>
    <ion-title>Generador de QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Generar Código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Texto para el QR</ion-label>
        <ion-input [(ngModel)]="qrData"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="generateQR()">Generar QR</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar el QR si se ha generado -->
  <div *ngIf="qrGenerated" class="qr-container">
    <img [src]="qrCodeImage" alt="Código QR">
  </div>
</ion-content>

